@{
    ViewData["Title"] = "Error";
}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="text-center">
                <img src="https://freefrontend.com/assets/img/html-css-404-page-templates/HTML-404-Page-Animation.gif" alt="Alternative image" class="img-fluid">
                <div class="h4">
                    <p>Error 404. The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
                </div>
                <div class="h4">Go back to <a asp-controller="Home" asp-action="Index">Home</a> Page.</div>
            </div>
        </div>
    </div>
</div>