@model InstructorRatingModel


<link rel="stylesheet" href="~/css/star.css">

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        
        
        
        <form method="post">
            <div class="form-group">
                <h4 class="text-center">How you rate the instructor</h4>
                <div class="rating" onclick="setValue()">

                    <input type="radio" name="rating" value="5" id="5"><label for="5">☆</label>
                    <input type="radio" name="rating" value="4" id="4"><label for="4">☆</label>
                    <input type="radio" name="rating" value="3" id="3"><label for="3">☆</label>
                    <input type="radio" name="rating" value="2" id="2"><label for="2">☆</label>
                    <input type="radio" name="rating" value="1" id="1"><label for="1">☆</label>
                </div>

                <input type="hidden" id="points_value" asp-for="Points" value="0">
                <span asp-validation-for="Points" class="small text-danger"></span>
              

                <textarea asp-for="Comment" rows="5" class="form-control" placeholder="Comment.."></textarea>
                <span asp-validation-for="Comment" class="small text-danger"></span>


                <input type="hidden" asp-for="InstructorId" class="form-control" value="@Model.InstructorId">
                <input type="hidden" asp-for="UserId" class="form-control" value="@Model.UserId">
                <input type="hidden" asp-for="JumpId" class="form-control" value="@Model.JumpId">            
            
            </div>
            <div class="text-center">
                <input class="btn btn-primary mt-3 " type="submit" value="Rate" />
            </div>
        </form>
    </div>
</div>



<script>
    function setValue() {
        var value = 0;

        if (document.querySelector('input[name="rating"]:checked') != null) {
            value = document.querySelector('input[name="rating"]:checked').value;
        }

        var element = document.querySelector('input[id="points_value"]');

        element.value = parseInt(value);
    }
</script>