@model OfferViewModel

@{
    ViewBag.Title = "Send Offer";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@*@if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"] != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewData.ModelState["Error"].Errors.First().ErrorMessage
    </div>
}
*@
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
            <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Enter your offer here..">
                <span asp-validation-for="Description" class="small text-danger"></span>

                <label asp-for="Price"></label>
                <input type="number" asp-for="Price" class="form-control" placeholder="Price">
                <span asp-validation-for="Price" class="small text-danger"></span>

                <input asp-for="OwnerId" value="@User.Id()" type="hidden">
            </div>
          @*  <div class="form-group">
                <label asp-for="Description"></label>
                <input asp-for="Description" class="form-control" placeholder="Jump description">
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category"></label>
                <input asp-for="Category" class="form-control" placeholder="Jump category">
                <span asp-validation-for="Category" class="small text-danger"></span>
            </div>*@
            <div class="text-center">
                <input asp-route="@Model.JumpId" class="btn btn-primary mt-3 " type="submit" value="Send" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}